---
---

<script is:inline src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  let area = document.getElementById("textArea");
  if (area.addEventListener) {
    area.addEventListener("input", updateText, false);
  } else if (area.attachEvent) {
    area.attachEvent("onpropertychange", updateText);
  }

  function countWords(text) {
    return text.match(/(\w+)/g).length;
  }

  function updateWordChart(text) {
    let chars = text.split(" ");
    let wordFreq: { [word: string]: number } = {};
    for (let i = 0; i < chars.length; i++) {
      if (!(chars[i] in wordFreq)) {
        wordFreq[chars[i]] = 1;
      } else {
        wordFreq[chars[i]] += 1;
      }
    }

    wordChart.data.labels = Object.keys(wordFreq);
    wordChart.data.datasets[0].data = Object.values(wordFreq);
    wordChart.update();
  }

  function updateCharChart(text) {
    let charFreq: { [word: string]: number } = {};
    for (let i = 0; i < text.length; i++) {
      let char = text[i] == " " ? "space" : text[i];
      if (!(char in charFreq)) {
        charFreq[char] = 1;
      } else {
        charFreq[char] += 1;
      }
    }

    charChart.data.labels = Object.keys(charFreq);
    charChart.data.datasets[0].data = Object.values(charFreq);
    charChart.update();
  }

  function updateText(e) {
    let text = document.getElementById("textArea").value;
    let wordCount = countWords(text);
    let charCount = text.length;

    document.getElementById(
      "countDisplay"
    ).innerHTML = `Words: ${wordCount} Characters: ${charCount}`;

    updateWordChart(text);
    updateCharChart(text);
  }

  const wordChartCtx = document.getElementById("wordChart");

  let wordChart = new Chart(wordChartCtx, {
    type: "bar",
    data: {
      labels: [],
      datasets: [
        {
          label: "Words",
          data: [],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });

  const charChartCtx = document.getElementById("charChart");

  let charChart = new Chart(charChartCtx, {
    type: "bar",
    data: {
      labels: [],
      datasets: [
        {
          label: "Characters",
          data: [],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>

<main>
  <div class="ml-60 mr-60">
    <div id="countDisplay">Words: Characters:</div>
    <div class="grid place-items-center">
      <textarea
        rows="20"
        id="textArea"
        class="w-full pl-2 pr-2 border-solid border-2 border-sky-500 rounded"
      ></textarea>
    </div>
  </div>

  <canvas id="wordChart" class="m-10"></canvas>
  <canvas id="charChart" class="m-10"></canvas>
</main>